[package]
name = "dhcproto"
version = "0.3.0"
authors = ["Ian Laidlaw <ilaidlaw@bluecatnetworks.com>", "Evan Cameron <cameron.evan@gmail.com>"]
edition = "2018"
description = """
A DHCP parser and encoder for DHCPv4/DHCPv6. `dhcproto` aims to be a functionally complete DHCP implementation.
"""
categories = ["network-programming", "encoding","parser-implementations"]
repository = "https://github.com/bluecatengineering/dhcproto"
keywords = ["dhcp","dhcpv4","dhcpv6"]
license = "MIT"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
thiserror = "1.0"
rand = "0.8"

[dev-dependencies]
criterion = "0.3"

[[bench]]
name = "decode"
harness = false

[[bench]]
name = "encode"
harness = false
